<?xml version="1.0"?>
<configuration>

  <system.web>
    <httpHandlers>
			<add verb="*" path="data/*/*" type="TestServer.SimpleHandler, TestServer" />
    </httpHandlers>
    <compilation debug="true"/>
  </system.web>

	<system.webServer>
		<httpErrors errorMode="Detailed" />
		<asp scriptErrorSentToBrowser="true"/>
		<validation validateIntegratedModeConfiguration="false"/>
		<handlers>
			<remove name="TestServer" />
			<add name="TestServer" verb="*" path="data/*/*" type="TestServer.SimpleHandler, TestServer" />
		</handlers>
	</system.webServer>
</configuration>
